<!DOCTYPE html>
<html>

<head>
    <base target="_top">
    <?!= HtmlService.createHtmlOutputFromFile("src/views/add-new-problem-modal/styles-add-new-problem-modal").getContent(); ?>
</head>

<body>
    <div class="container">
        <div class="form-container">
            <div class="form-group">
                <label for="title">Title</label>
                <textarea type="text" class="text-field" id="title" name="title"></textarea>
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea type="text" class="text-field" id="content" name="content"></textarea>
            </div>
            <div class="form-group">
                <label for="code">Default Code</label>
                <textarea type="text" class="text-field" id="code" name="code"></textarea>
            </div>
            <div class="form-group">
                <label for="difficulty">Select Difficulty</label>
                <select name="difficulty" id="difficulty">
                    <option value="1">Easy</option>
                    <option value="2">Medium</option>
                    <option value="3">Hard</option>
                </select>
            </div>
            <div class="form-group">
                <button id="submitButton" onclick="submit"> Submit </button>
            </div>
    </div>
    </div>
</body>
    <?!= HtmlService.createHtmlOutputFromFile("src/views/add-new-problem-modal/scripts-add-new-problem-modal").getContent(); ?>

</html>