<script>

    function hasClass(ele, cls) {
        return !!ele.className.match(new RegExp('(\\s|^)' + cls + '(\\s|$)'));
    }

    function addClass(ele, cls) {
        if (!hasClass(ele, cls)) ele.className += " " + cls;
    }

    function removeClass(ele, cls) {
        if (hasClass(ele, cls)) {
            var reg = new RegExp('(\\s|^)' + cls + '(\\s|$)');
            ele.className = ele.className.replace(reg, ' ');
        }
    }

    function DomController() {
        this.problemService = new ProblemService();
        this.editor = {};

        init = () => {
            document.getElementById("submitButton").addEventListener("click", submit);
            initElements();
            initEditor();
        }

        initElements = () => {
            this.loader = document.getElementById("loader");
            this.formContainer = document.getElementById("formContainer");
            this.$title = document.getElementById("title");
            this.$content = document.getElementById("content");
            this.$difficulty = document.getElementById("difficulty");
        }

        initEditor = () => {
            this.editor = ace.edit("editor");
            this.editor.setTheme("ace/theme/textmate");
            this.editor.session.setTabSize(4);
            this.editor.session.setMode("ace/mode/javascript");
        }

        toggleLoader = (isShow) => {
            if (isShow) {
                addClass(this.formContainer, "hide");
                removeClass(this.loader, "hide");
            }
        }

        submit = (e) => {

            const problem = {
                title: this.$title.value,
                content: this.$content.value,
                difficulty: this.$difficulty.value,
                code: this.editor.getValue(),
            }

            const isValid = this.problemService.validate(problem);
            if (isValid) {
                toggleLoader(true);
                this.problemService.add(problem)
            }
            else {
                alert("Problem is not valid, Make sure all the fields are filled");
            }

        }

        return {
            init
        }
    }



    function ProblemService() {


        validate = (problem) => {

            if (problem.title.length === 0) {
                return false;
            }
            else if (problem.content.length === 0) {
                return false;
            }
            else if (problem.content.code === 0) {
                return false;
            }

            return true;
        }

        onSuccess = () => {
            google.script.host.close();
        }

        add = (problem) => {
            const url = "https://discovery-sfx-codex-service.moon.trendyol.com/problem"

            const requestOptions = {
                method: "POST",
                body: JSON.stringify({
                    title: problem.title,
                    content: problem.content,
                    difficulty: parseInt(problem.difficulty),
                    defaultCodes: [{
                        "language": "3",
                        "defaultCode": btoa(problem.code)
                    }]
                }),
                credentials: 'include',
                headers: {
                    "x-access-token": window.stringifiedData.token,
                    "Content-Type": "application/json",
                    "Access-Control-Allow-Origin": "*",
                    "Access-Control-Allow-Credentials": "true",
                    "Access-Control-Allow-Methods": "DELETE, POST, GET, OPTIONS",
                    "Access-Control-Allow-Headers": "Content-Type, Authorization, X-Requested-With, cookie, cache-control, accept, authority",
                }
            }

            fetch(url, requestOptions).
                then(response => response.json()).
                then(json => {
                    google.script.run.withSuccessHandler(onSuccess).processAddProblem(json);
                }).
                catch(error => {
                    alert("Error occured, you probably not connected VPN")
                })
        }

        return {
            add,
            validate
        }
    }

    const domController = new DomController();
    domController.init();
</script>